

#aba{
  height: 5%;
  width: 100%;
}

#principal{
  display: flex;
  justify-content: center;
  
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.value {
  align-items: center;
  margin: 0% 0% 10% 0%;

}
#foto{
  display: flex;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.ctt{
  color: aliceblue;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #337ab7;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.login-container {
  background-color: #629cbf;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1px;
  box-shadow: 0 0 10px rgb(219, 210, 210);
}

.login-container h2 {
  margin-top: 0;
  text-align: center
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login-btn {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #23527c;
}

.h2{
  color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 150px;
  height:20vh;
  width: 100vw;
}

.top-left-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layoutcity{
  text-align: center;
  align-self: center;
  max-width: 120%;
}
#cabecalho{
  background-color: #023859;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

#brasão{
  width: 90px;
  
}
#eptran{
  width: 90px;
}
