body, html{
    margin: 0;
}


#cabecalho{
    text-align:left;
    background-color:  #023859;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    div{
        width: 100%;
    }
    #middle{
        justify-content: center;
        align-items: center;
    }
}


#eptran{
    text-align:center;
    width: 90px;
    justify-content: center;
}

#barra2{
    width: 100%;
    text-align: center;
   display: flex;
}

#guri{

    text-align: center;
}

#botoes{
    text-align: center;
    display: flex;
}

#avisos{
    display: flex;
    text-align:center;
    justify-content: center;
    align
}

#button-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

